<template>
  <div id="chart">
    <vue-apex-charts
        type="line"
        height="200"
        :options="chartOptions"
        :series="series"
    ></vue-apex-charts>
  </div>
</template>

<script>
import VueApexCharts from "vue3-apexcharts";

export default {
  name: "ChartComponent",
  components: {
    VueApexCharts,
  },

  data() {
    return {
      series: [
        {
          name: "This month",
          data: [1, 4, 7.5, 5.5, 20],
        },
        {
          name: "Last month",
          data: [4, 3, 4, 3, 1],
        },
      ],
      chartOptions: {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
        },
        grid: {
          row: {
            colors: ["#f3f3f3", "transparent"],
            opacity: 0.5,
          },
        },
        xaxis: {
          categories: ["1 May", "10 May", "17 May", "25 May", "31 May"],
        },
        colors: ["#7445FB", "#D5D5D6"],
      },
    };
  },
};
</script>
