<template>
  <div class="balance-container">
    <div class="top-part">
      <h4 class="title">Current Balance</h4>
      <img
          class="icon"
          src="@/assets/images/icons/dots-horizontal-icon.svg"
          alt="Options icon"
      />
    </div>
    <div>
      <p class="count"><span class="currency-icon">$</span>21 432.23</p>
    </div>
    <div class="middle-part">
      <div class="stats-icon">
        <img src="@/assets/images/icons/up-arrow-icon.svg" alt="Up arrow"/>
      </div>
      <p class="stats-text">12% vs last month</p>
    </div>
    <div class="buttons">
      <ReusableButtonComponent size="mid" color="purple" class="button-position"
      >Quick Invest
      </ReusableButtonComponent>
      <ReusableButtonComponent size="mid" color="white"
      >Show Report
      </ReusableButtonComponent>
    </div>
  </div>
</template>

<script>
import ReusableButtonComponent from "@/components/ReusableButtonComponent";

export default {
  name: "CurrentBalanceComponent",
  components: {
    ReusableButtonComponent,
  },
};
</script>

<style lang="scss" scoped>
.balance-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--light-gray);

  .top-part {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .title {
      font-size: 20px;
      line-height: 24px;
      color: var(--black);
    }

    .icon {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .count {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    color: var(--black);

    .currency-icon {
      color: var(--dark-gray);
    }
  }

  .middle-part {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      margin: 0;
    }

    .stats-text {
      color: var(--green);
    }

    .stats-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;
      width: 18px;
      height: 18px;
      padding: 4px;
      border-radius: 50%;
      background-color: var(--green);
    }
  }

  .button-position {
    margin-right: 8px;
  }

  .buttons {
    margin-top: auto;
  }
}
</style>
