<template>
  <ul class="options-list-container">
    <DateInfoOptionsItem
        v-for="optionItem in optionsItemsList"
        :key="optionItem.id"
        :option-item="optionItem"
        :selected="defaultSelectedOptionItem === optionItem.text"
        class="option-position"
    />
  </ul>
</template>

<script>
import DateInfoOptionsItem from "@/components/DateInfoOptionsItem";
import {ref} from "vue";

export default {
  name: "DateInfoOptionsList",
  components: {
    DateInfoOptionsItem,
  },

  setup() {
    const optionsItemsList = ref([
      {
        id: 1,
        text: "Summary",
      },
      {
        id: 2,
        text: "Table",
      },
      {
        id: 3,
        text: "Charts",
      },
      {
        id: 4,
        text: "Reporting",
      },
      {
        id: 5,
        text: "Analysis",
      },
    ]);
    const defaultSelectedOptionItem = ref("Summary");

    return {
      optionsItemsList,
      defaultSelectedOptionItem,
    };
  },
};
</script>

<style lang="scss" scoped>
.options-list-container {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 1px;
  border-bottom: 1px solid #ebebf3;

  .option-position {
    margin-right: 12px;

    @media (min-width: 1024px) {
      margin-right: 24px;
    }
  }
}
</style>
