<template>
  <li class="date-info-container">
    <div class="date-info-image-container">
      <cryptoicon :symbol="itemSymbol" size="24"/>
    </div>
    <div class="name-container">
      <span class="text-gray">{{ item.symbol }}</span>
      <span class="text-black">{{ item.name }}</span>
    </div>
    <div class="price-container">
      <span class="text-gray">Price</span>
      <span class="text-black">${{ itemPrice.toString().slice(0, 7) }}</span>
    </div>
    <div class="change-container">
      <span class="text-gray">Change</span>
      <div
          class="change-text-wrapper"
          :class="dailyChangeItemPrice > 0 ? 'text-green' : 'text-red'"
      >
        <span v-if="dailyChangeItemPrice > 0"> + </span>
        <span v-else> - </span>
        <div>
          {{ Math.abs(dailyChangeItemPrice).toString().slice(0.7) }}
          <span>%</span>
          <img
              v-if="dailyChangeItemPrice > 0"
              class="change-icon"
              src="@/assets/images/icons/arrow-up-green.svg"
              alt="Arrow up "
          />
          <img
              v-else
              class="change-icon"
              src="@/assets/images/icons/arrow-down-red.svg"
              alt="Arrow down "
          />
        </div>
      </div>
    </div>
    <div class="stat-image">
      <img
          v-if="dailyChangeItemPrice > 0"
          src="@/assets/images/stat-charts/green-chart.svg"
          alt="Green stat chart "
      />
      <img
          v-else
          src="@/assets/images/stat-charts/red-chart.svg"
          alt="Red stat chart "
      />
    </div>
    <div class="button-wrapper">
      <ReusableButtonComponent color="white" size="sm"
      >Sell
      </ReusableButtonComponent>
      <ReusableButtonComponent color="purple" size="sm"
      >Buy
      </ReusableButtonComponent>
    </div>
  </li>
</template>

<script>
import Cryptoicon from "vue-cryptoicon/src/components/Cryptoicon";
import ReusableButtonComponent from "@/components/ReusableButtonComponent";
import {computed} from "vue";

export default {
  name: "DateInfoItem",
  components: {ReusableButtonComponent, Cryptoicon},
  props: {
    item: {
      type: Object,
      require: true,
    },
  },

  setup(props) {
    const itemSymbol = computed(() => {
      return props.item.symbol;
    });

    const itemPrice = computed(() => {
      return props.item.quote.USD.price;
    });

    const dailyChangeItemPrice = computed(() => {
      return props.item.quote.USD.percent_change_24h;
    });

    return {
      itemSymbol,
      itemPrice,
      dailyChangeItemPrice,
    };
  },
};
</script>

<style lang="scss" scoped>
.date-info-container {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto auto min-content;
  gap: 10px;
  padding: 4px;
  background-color: var(--white);
  border: 1px solid #ebebf3;
  border-radius: 8px;
  font-size: 10px;

  @media (min-width: 1024px) {
    grid-template-columns: min-content 1fr 1fr 1fr 1fr min-content;
    justify-content: space-between;
    padding: 16px 20px;
    font-size: 14px;
  }

  .date-info-image-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      height: 16px;
      object-fit: cover;
    }
  }

  .price-container,
  .name-container {
    display: flex;
    flex-direction: column;
  }

  .button-wrapper {
    display: flex;
    gap: 8px;
  }
}

.stat-image,
.change-container {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }

  .change-text-wrapper {
    display: flex;
  }

  .change-icon {
    margin-left: 7px;
  }
}

.text-black {
  color: var(--black);
  font-weight: 600;
}

.text-gray {
  color: var(--dark-gray);
}

.text-green {
  color: var(--green);
  font-weight: 600;
}

.text-red {
  color: var(--red);
  font-weight: 600;
}

.bg-orange {
  background-color: #f7931a;
}

.bg-dark-blue {
  background-color: #0033ad;
}

.bg-gray {
  background-color: #edeff1;
}
</style>
