<template>
  <div class="date-info-container">
    <DateInfoOptionList class="date-options-position"/>
    <DateInfoList/>
  </div>
</template>

<script>
import DateInfoOptionList from "@/components/DateInfoOptionsList";
import DateInfoList from "@/components/DateInfoList";

export default {
  name: "DateInfoComponent",
  components: {
    DateInfoOptionList,
    DateInfoList,
  },
};
</script>

<style lang="scss" scoped>
.date-info-container {
  padding: 32px;
  border-radius: 16px;
  background-color: var(--light-gray);
}

.date-options-position {
  margin-bottom: 32px;
}
</style>
