<template>
  <li class="option" :class="selected ? 'selected' : ''">
    {{ optionItem.text }}
  </li>
</template>

<script>
export default {
  name: "DateInfoOptionsItem",
  props: {
    optionItem: {
      type: Object,
      required: true,
    },
    selected: {
      type: Boolean,
      require: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.option {
  padding-bottom: 11px;
  font-size: 14px;
  color: var(--dark-gray);
  cursor: pointer;
}

.selected {
  color: var(--black);
  font-weight: 500;
  border-bottom: 2px var(--primary) solid;
}
</style>
