<template>
  <ul>
    <DateInfoItem
        v-for="cryptoLatestItem in filteredCryptoLatestList"
        :key="cryptoLatestItem.id"
        :item="cryptoLatestItem"
        class="info-item-position"
    />
  </ul>
</template>

<script>
import DateInfoItem from "@/components/DateInfoItem";
import {ref, computed} from "vue";
import axios from "axios";

export default {
  name: "DateInfoList",
  components: {
    DateInfoItem,
  },

  setup() {
    const cryptoLatestList = ref([]);

    const fetchCryptoLatestList = async () => {
      cryptoLatestList.value = (
          await axios.get("/.netlify/functions/latest-listings")
      ).data.data;
    };

    const filteredCryptoLatestList = computed(() => {
      return cryptoLatestList.value.slice(0, 6);
    });

    fetchCryptoLatestList();

    return {
      cryptoLatestList,
      filteredCryptoLatestList,
    };
  },
};
</script>

<style scoped>
.info-item-position {
  margin-bottom: 32px;
}
</style>
