<template>
  <nav>
    <LogoComponent/>
    <NavigationItems/>
  </nav>
</template>

<script>
import NavigationItems from "@/components/NavigationItems";
import LogoComponent from "@/components/LogoComponent";

export default {
  name: "DesktopNavigation",
  components: {
    NavigationItems,
    LogoComponent,
  },
};
</script>

<style scoped>
nav {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  max-width: 264px;
}
</style>
