<template>
  <li class="favorite-element-container">
    <div class="logo-wrapper">
      <img
          class="logo"
          :class="[
          favoriteItem.shortName === 'BTC' ? 'bg-orange' : 'bg-dark-blue',
        ]"
          :src="favoriteItem.logoSrc"
          :alt="favoriteItem.logoAlt"
      />
    </div>
    <div class="favorite-info">
      <span class="name">{{ favoriteItem.shortName }}</span>
      <span>{{ favoriteItem.name }}</span>
    </div>
    <img :src="favoriteItem.statChartSrc" :alt="favoriteItem.statChartAlt"/>
  </li>
</template>

<script>
export default {
  name: "FavoriteItem",
  props: {
    favoriteItem: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.favorite-element-container {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  margin: 24px;
  gap: 12px;

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--white);

    .logo {
      width: 20px;
      height: 20px;
      padding: 5px;
      border-radius: 50%;
    }
  }

  .favorite-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;

    .name {
      color: var(--dark-gray);
      font-weight: 400;
    }
  }
}

.bg-orange {
  background-color: #f7931a;
}

.bg-dark-blue {
  background-color: #0033ad;
}
</style>
