<template>
  <div class="favorite-list-container">
    <div class="favorite-title-wrapper">
      <span class="favorites-title">Favorites</span>
      <img
          class="favorite-icon"
          src="@/assets/images/icons/dots-horizontal-icon.svg"
          alt="Options icon"
      />
    </div>
    <ul>
      <FavoriteItem
          v-for="favoriteItem in favoriteItemsList"
          :key="favoriteItem.id"
          :favorite-item="favoriteItem"
      />
    </ul>
  </div>
</template>

<script>
import FavoriteItem from "@/components/FavoriteItem";
import {ref} from "vue";

export default {
  name: "FavoritesListComponent",
  components: {FavoriteItem},

  setup() {
    const favoriteItemsList = ref([
      {
        id: 1,
        shortName: "BTC",
        name: "Bitcoin",
        logoSrc: require("@/assets/images/logos/btc-logo.svg"),
        logoAlt: "Bitcoin logo",
        statChartSrc: require("@/assets/images/stat-charts/green-chart.svg"),
        statChartAlt: "Stat chart",
      },
      {
        id: 2,
        shortName: "XRP",
        name: "Ripple",
        logoSrc: require("@/assets/images/logos/xrp-logo.svg"),
        logoAlt: "Ripple logo",
        statChartSrc: require("@/assets/images/stat-charts/red-chart.svg"),
        statChartAlt: "Stat chart",
      },
    ]);

    return {
      favoriteItemsList,
    };
  },
};
</script>

<style lang="scss" scoped>
.favorite-list-container {
  border-top: 1px solid rgba(152, 150, 161, 0.1);

  .favorite-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 24px 0 24px;

    .favorites-title {
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      color: var(--dark-gray);
    }

    .favorite-icon {
      margin-left: auto;
    }
  }
}
</style>
