<template>
  <section class="home-page-section">
    <DesktopNavigation class="desktop-nav-position"/>
    <div class="home-page-top-part">
      <SearchBarComponent class="search-position"/>
      <div class="menu-notification-container">
        <NotificationComponent/>
        <MenuMobileComponent/>
      </div>
    </div>
    <div class="dashboard">
      <CurrentBalanceComponent class="balance-position"/>
      <DateInfoComponent class="date-info-position"/>
      <SummaryComponent class="summary-position"/>
    </div>
  </section>
</template>

<script>
import SearchBarComponent from "@/components/SearchBarComponent";
import CurrentBalanceComponent from "@/components/CurrentBalanceComponent";
import SummaryComponent from "@/components/SummaryComponent";
import DateInfoComponent from "@/components/DateInfoComponent";
import NotificationComponent from "@/components/NotificationComponent";
import MenuMobileComponent from "@/components/MenuMobileComponent";
import DesktopNavigation from "@/components/DesktopNavigation";

export default {
  name: "HomePageComponent",
  components: {
    NotificationComponent,
    MenuMobileComponent,
    SearchBarComponent,
    CurrentBalanceComponent,
    SummaryComponent,
    DateInfoComponent,
    DesktopNavigation,
  },
};
</script>

<style lang="scss" scoped>
.home-page-section {
  max-width: 1440px;
  max-height: 1000px;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 264px 1fr;
  }

  @media (min-width: 1024px) {
    .home-page-top-part {
      display: flex;
      align-items: center;
      padding: 68px 68px 0 68px;
    }
  }

  .desktop-nav-position {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      grid-row: 1 / 3;
    }
  }

  .menu-notification-container {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      gap: 16px;
      margin-left: 700px;
    }
  }

  .search-position,
  .balance-position,
  .summary-position,
  .date-info-position {
    margin-bottom: 32px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1024px) {
  .dashboard {
    padding: 68px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .date-info-container {
    grid-area: 2 / 1 / 4 / 3;
  }
}
</style>
