<template>
  <div class="logo-container">
    <img src="@/assets/images/logo.svg" alt="Payte company's logo"/>
    <h3 class="company-name">Payte</h3>
  </div>
</template>

<script>
export default {
  name: "LogoComponent",
};
</script>

<style lang="scss" scoped>
.logo-container {
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    padding: 40px 24px 68px 24px;
  }

  .company-name {
    font-size: 24px;
    line-height: 24px;
    color: var(--black);
    font-weight: 600;
    margin-left: 16px;
  }
}
</style>
