<template>
  <button @click="handleButtonMenu" class="icon-container">
    <img src="@/assets/images/icons/menu-icon.svg" alt="Menu mobile icon"/>
  </button>
</template>

<script>
export default {
  name: "MenuMobileComponent",
  emits: ["update:display-menu"],
  props: {
    displayMenu: {
      type: [Boolean, null],
      required: false,
    },
  },

  setup(props, context) {
    const handleButtonMenu = () => {
      context.emit("update:display-menu", !props.displayMenu);
    };

    return {
      handleButtonMenu,
    };
  },
};
</script>

<style scoped>
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
}
</style>
