<template>
  <nav class="navigation-container">
    <div class="navbar">
      <LogoComponent/>
      <NotificationComponent class="position"/>
      <MenuMobileComponent
          :display-menu="displayMenu"
          @update:display-menu="handleDisplayMenu"
      />
    </div>
    <NavigationItems v-if="displayMenu"/>
  </nav>
</template>

<script>
import LogoComponent from "@/components/LogoComponent";
import NotificationComponent from "@/components/NotificationComponent";
import MenuMobileComponent from "@/components/MenuMobileComponent";
import NavigationItems from "@/components/NavigationItems";
import {ref} from "vue";

export default {
  name: "NavbarComponent",
  components: {
    LogoComponent,
    NotificationComponent,
    MenuMobileComponent,
    NavigationItems,
  },

  setup() {
    const displayMenu = ref(null);

    const handleDisplayMenu = (payload) => {
      displayMenu.value = payload;
    };

    return {
      displayMenu,
      handleDisplayMenu,
    };
  },
};
</script>

<style lang="scss" scoped>
.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navbar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 49px;
    margin-bottom: 32px;
  }

  .position {
    margin-left: auto;
  }
}
</style>
