<template>
  <div class="navigation-container">
    <NavigationItem
        v-for="navigationItem in navigationItems"
        :key="navigationItem.id"
        :navigation-item="navigationItem"
    />
    <FavoritesListComponent/>
    <UserProfileInfoComponent class="profile-position"/>
  </div>
</template>

<script>
import {ref} from "vue";
import NavigationItem from "@/components/NavigationItem";
import FavoritesListComponent from "@/components/FavoritesListComponent";
import UserProfileInfoComponent from "@/components/UserProfileInfoComponent";

export default {
  name: "NavigationItems",
  components: {
    UserProfileInfoComponent,
    NavigationItem,
    FavoritesListComponent,
  },
  setup() {
    const navigationItems = ref([
      {
        id: 1,
        text: "Overview",
        imageSrc: require("@/assets/images/icons/overview-icon.svg"),
        imageAlt: "Overview icon",
        notificationsCount: 10,
      },
      {
        id: 2,
        text: "Buy / Sell",
        imageSrc: require("@/assets/images/icons/buy-icon.svg"),
        imageAlt: "Buy / Sell icon",
        notificationsCount: 0,
      },
      {
        id: 3,
        text: "Wallets",
        imageSrc: require("@/assets/images/icons/wallet-icon.svg"),
        imageAlt: "Wallets icon",
        notificationsCount: 0,
      },

      {
        id: 4,
        text: "Bundles",
        imageSrc: require("@/assets/images/icons/bundles-icon.svg"),
        imageAlt: "Bundles icon",
        notificationsCount: 0,
      },
      {
        id: 5,
        text: "Reporting",
        imageSrc: require("@/assets/images/icons/reporting-icon.svg"),
        imageAlt: "Reporting icon",
        notificationsCount: 0,
      },
      {
        id: 6,
        text: "Community",
        imageSrc: require("@/assets/images/icons/community-icon.svg"),
        imageAlt: "Community icon",
        notificationsCount: 0,
      },
    ]);

    return {
      navigationItems,
    };
  },
};
</script>

<style lang="scss" scoped>
.navigation-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: var(--light-gray);
  padding: 24px 0;
  border: 8px;

  @media (min-width: 1024px) {
    padding: 0;
    height: 100%;
  }

  .profile-position {
    margin-top: auto;
  }
}
</style>
