<template>
  <div class="navigation-item-container">
    <img
        class="navigation-item-img"
        :src="navigationItem.imageSrc"
        :alt="navigationItem.imageAlt"
    />
    <p class="navigation-item-text">{{ navigationItem.text }}</p>
    <span
        class="navigation-item-badge"
        v-if="navigationItem.notificationsCount > 0"
    >
      {{
        Math.min(navigationItem.notificationsCount, 9)
      }}<span v-if="navigationItem.notificationsCount > 9">+</span>
    </span>
  </div>
</template>

<script>
export default {
  name: "NavigationItem",
  props: {
    navigationItem: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.navigation-item-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 0 10px;
  padding: 17px 13px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(10, 4, 28, 0.4);
  transition: all 0.5s;

  &:hover {
    background-color: var(--white);
    outline: 1px solid #ebebf3;
    border-radius: 4px;
    color: var(--black);
  }

  .navigation-item-img {
    margin-right: 15px;
  }

  .navigation-item-badge {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 23px;
    height: 17px;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--red);
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    color: var(--white);
  }
}
</style>
