<template>
  <div class="icon-container">
    <img src="@/assets/images/icons/bell-icon.svg" alt="Notification  icon">
    <span class="badge"><br/></span>
  </div>
</template>

<script>
export default {
  name: "NotificationComponent"
}
</script>

<style lang="scss" scoped>
.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--light-gray);
  border-radius: 8px;

  .badge {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--red);
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

    @keyframes ping {
      75%, 100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }
}
</style>