<template>
  <button class="button" :class="classes">
    <slot/>
  </button>
</template>

<script>
import {computed} from "vue";

export default {
  name: "ReusableButtonComponent",
  props: {
    color: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      require: true,
    },
  },

  setup(props) {
    const classes = computed(() => {
      const classes = [];

      switch (props.color) {
        case "purple": {
          classes.push("button-purple");
        }
          break;
        case "white": {
          classes.push("button-white");
        }
          break;
      }

      switch (props.size) {
        case "sm": {
          classes.push("sm");
        }
          break;
        case "mid": {
          classes.push("mid");
        }
          break;
      }
      return classes;
    });

    return {
      classes,
    };
  },
};
</script>

<style lang="scss" scoped>
.button {
  font-weight: 600;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.button-purple {
  color: var(--white);
  background-color: var(--primary);
}

.button-white {
  color: var(--primary);
  background-color: var(--white);
  outline: 1px solid #ebebf3;
}

.mid {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
}

.sm {
  font-size: 10px;
  padding: 8px;
  line-height: 20px;

  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 16px;
  }
}
</style>
