<template>
  <div class="search-bar-container">
    <img
        class="search-bar-icon"
        src="@/assets/images/icons/search-icon.svg"
        alt="Search bar's icon"
    />
    <input class="input" placeholder="Search" type="text"/>
  </div>
</template>

<script>
export default {
  name: "SearchBarComponent",
};
</script>

<style lang="scss" scoped>
.search-bar-container {
  position: relative;

  @media (min-width: 1024px) {
    max-width: 232px;
  }

  .input {
    width: 100%;
    padding: 12px 42px;
    border-radius: 8px;
    background-color: var(--light-gray);
    color: var(--dark-gray);

    @media (min-width: 1024px) {
      width: max-content;
    }

    &::placeholder {
      color: var(--dark-gray);
      font-size: 14px;
      line-height: 24px;
    }
  }

  .search-bar-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
  }
}
</style>
