<template>
  <div class="summary-container">
    <div class="top-part">
      <h4 class="title">Summary</h4>
      <img
          class="icon"
          src="@/assets/images/icons/dots-horizontal-icon.svg"
          alt="Options icon"
      />
    </div>
    <ChartComponent class="chart-position"/>
  </div>
</template>

<script>
import ChartComponent from "@/components/ChartComponent";

export default {
  name: "SummaryComponent",
  components: {
    ChartComponent,
  },
};
</script>

<style lang="scss" scoped>
.summary-container {
  border-radius: 16px;
  background-color: var(--light-gray);

  .top-part {
    display: flex;
    flex-direction: row;
    padding: 32px 32px 0 32px;
    margin-bottom: 24px;

    .title {
      font-size: 20px;
      line-height: 24px;
      color: var(--black);
    }

    .icon {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

.chart-position {
  padding-bottom: 32px;

  @media (min-width: 1024px) {
    padding-bottom: 0;
  }
}
</style>
