<template>
  <div class="user-profile-info-container">
    <img class="avatar-img" src="@/assets/images/user.png" alt="User profile image">
    <div class="user-info">
      <span class="name">Marc Webber</span>
      <span class="email">marc@riot.com</span>
    </div>
    <img class="option-icon" src="@/assets/images/icons/dots-horizontal-icon.svg" alt="Options icon">
  </div>
</template>

<script>
export default {
  name: "UserProfileInfoComponent"
}
</script>

<style lang="scss" scoped>
.user-profile-info-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: min-content auto min-content;
  margin: 24px 24px 0 24px;
  gap: 16px;


  .avatar-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #E9EAEF;
    border-radius: 50%;
  }

  .user-info {
    display: flex;
    flex-direction: column;

    .name, .email {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
    }

    .name {
      margin-bottom: 6px;
      color: var(--black);
    }

    .email {
      color: var(--dark-gray);
    }
  }


  .option-icon {
    margin-left: auto;
    cursor: pointer;
  }
}


</style>