<template>
  <div class="main-app">
    <NavbarComponent class="nav-position"/>
    <main>
      <HomePageComponent/>
    </main>
  </div>
</template>

<script>
import NavbarComponent from "@/components/NavbarComponent.vue";
import HomePageComponent from "@/components/HomePageComponent";

export default {
  name: "App",
  components: {
    NavbarComponent,
    HomePageComponent,
  },
};
</script>

<style lang="scss" scoped>
* {
  font-family: var(--font);
}

.nav-position {
  margin: 0 10px;

  @media (min-width: 1024px) {
    display: none;
  }
}

main {
  background-color: var(--white);
  margin: 0 10px;

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.main-app {
  max-width: 1440px;
  max-height: 900px;
  height: 100vh;
  margin: auto;
  overflow-y: auto;
  background: var(--white);

  @media (min-width: 1440px) {
    border-radius: 24px;
  }
}
</style>

<style lang="scss">
body {
  background: #000;
}
</style>
