@import "normalize.scss";

:root {
  --light-gray:#F7F7F9;
  --dark-gray:#9896A1;
  --white:#FFFFFF;
  --black: #0A041C;
  --primary:#7445FB;
  --green:#2DC78F;
  --red:#EA4D4D;
  --font: 'SF Pro Display'
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Regular.eot');
  src: url('@/assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('@/assets/fonts/SFProDisplay-Regular.woff') format('woff'),
  url('@/assets/fonts/SFProDisplay-Regular.ttf') format('truetype'),
  url('@/assets/fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
